---
import dayjs from 'dayjs'
import { themeConfig } from '@/config'
import { isPostPage } from '@/utils/page'

interface Props {
  date: Date
  updatedDate?: Date
  minutes: number
}

const { date, updatedDate, minutes } = Astro.props
const format = themeConfig.global.dateFormat
const isPost = isPostPage(Astro.url.pathname)
const timeSpacingClass = isPost ? 'ml-1.75' : 'ml-1.5'

function formatDate(date: Date, format: string) {
  return dayjs(date).format(format)
}
---

<!-- published date -->
<time datetime={date.toISOString().split('T')[0]}>
  {formatDate(date, format)}
</time>

<!-- updated date -->
{updatedDate && (
  <time
    datetime={updatedDate.toISOString().split('T')[0]}
    class={timeSpacingClass}
  >
    updated {formatDate(updatedDate, format)}
  </time>
)}

<!-- reading time -->
<span class={timeSpacingClass}>
  {minutes} min
</span>
